@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: #f4ece4;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 30px 20px;
}

.boxOne {
  height: 400px;
  width: 360px;
  background-image: url("../img/image-product-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.boxTwo {
  height: auto;
  width: 360px;
  background-color: white;
  padding: 20px;
}

.perf {
  padding: 10px 0;
  letter-spacing: 9px;
  color: #75767b;
  font-size: 12px;
}
h1 {
  font-family: "Fraunces", serif;
  padding-bottom: 10px;
}
.parrafP {
  font-size: 14px;
  color: #75767b;
  line-height: 25px;
}
.price {
  display: flex;
  padding: 35px 0 10px 0;
}
.numOne {
  font-size: 33px;
  font-family: "Fraunces", serif;
  color: hsl(158, 36%, 37%);
}

.numTwo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
  font-size: 13px;
  text-decoration: line-through;
  color: #75767b;
}
