@import url(reset.css);
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

:root {
  --Dark-cyan: hsl(158, 36%, 37%);
  --Dak-cyan-hover: hsl(158, 36%, 20%);
  --Cream: hsl(30, 38%, 92%);
  --Very-dark-blue: hsl(212, 21%, 14%);
  --Dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
  --GrisNumber: #75767b;
}

* {
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: var(--Cream);
}

main {
  margin: 20px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.boxOne {
  height: 30%;
  width: 100%;
  background-image: url("../img/image-product-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-top-left-radius: 3%;
  border-top-right-radius: 3%;

}

.boxTwo {
  border-bottom-left-radius: 3%;
  border-bottom-right-radius: 3%;
  background-color: var(--white);
  padding: 20px;
}

.perf {
  padding: 10px 0;
  letter-spacing: 5px;
  font-size: 11px;
  color: var(--Dark-grayish-blue);
}

h1 {
  font-size: 35px;
  font-family: "Fraunces", serif;
  padding-bottom: 10px;
  font-weight: 700;
}

.parrafP {
  font-size: 15.3px;
  color: var(--Dark-grayish-blue);
  line-height: 25px;
}

.price {
  display: flex;
  padding: 30px 0 10px 0;
}

.numOne {
  font-size: 33px;
  font-family: "Fraunces", serif;
  color: var(--Dark-cyan);
}

.numTwo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
  font-size: 13px;
  text-decoration: line-through;
  color: var(--GrisNumber);
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 20rem;
  border-radius: 0.5rem;
  background-color: var(--Dark-cyan);
  border-style: none;
  color: white;
}

button:hover {
  background-color: var(--Dak-cyan-hover);
  cursor: pointer;
}

.cart {
  margin-right: 10px;
  height: 18px;
  width: 18px;
}

@media (min-width: 1024px) {
  main {
    display: flex;
    flex-direction: row;
  }

  .boxOne {
    background-position:center;
    background-image: url('../img/image-product-desktop.jpg');
    height: 480px;
    width: 280px;
    border-top-right-radius: 0%;
    border-bottom-left-radius: 3%;
  }

  .boxTwo {

    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 440px;
    width: 280px;
    border-top-right-radius: 3%;
    border-bottom-left-radius: 0%;
  }

  .perf {
    font-size: 14px;
  }

  .parrafP {
    padding-right: 20px;
  }

  h1 {
    padding: 15px 20px 20px 0;
  }


  button {
    width: 15rem;
    margin-top: 25px;
  }
}